<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="content/x-icon">
    <title>Table</title>
    <script>function func() {
            let rows = document.getElementById("tableWithUsers").rows;
            let Darray = [];
            let rLength = document.getElementById("tableWithUsers").rows.length;

            for(i = 0; i< rLength;i++) {
                    let arr1 = [];
                    let cells = rows.item(i).cells;
                    let cLength = cells.length;

                    for(j = 0;j<cLength;j++) {
                        let select = cells[j].firstChild;
                        if (select.toString() == "[object Text]") {
                            arr1.push(select.data);
                            continue;
                        }
                        let txt = select.options.item(select.selectedIndex).text;
                        arr1.push(txt);
                        }

                    Darray.push(arr1);
                }

            let json = JSON.stringify(Darray);
             console.log(JSON.stringify(Darray));

            let xhr = new XMLHttpRequest();
                xhr.open("POST", '/api/uptadeWorships', false);
                 xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                xhr.send(json);

                alert("succeeded request");

            }</script>

    <STYLE>
                select {
                    width: 33px;
                    background-color:#99999;
                    font-weight: bold;
                }
                option {
                    font-weight: bold;
                }
                table {
                    border-spacing: 0;
                    empty-cells: hide;
                    border: 2px solid black;
                    boreder-collapse:collapse;
                    margin:auto;
                    }
                    td {
                    text-align: center;
                    border: 1px solid #F4EEE8;
                    }
                    th {
                    color: #3D3511;
                    border: 1px solid #F4EEE8;
                    }
                    td:nth-child(odd),th:nth-child(odd) {
                    background: #D1C7BF;
                    }
                    th:nth-child(even),td:nth-child(even){
                    background: #F6D27E;
                    }
                button{
                    display:inline-block;
                    padding: 3px 6px;
                    margin:left;
                    border:1px solid black;
                    box-sizing: border-box;
                    text-decoration:none;
                    font-family:'Segoe UI','Roboto',sans-serif;
                    font-weight:400;
                    color:#000000;
                    background-color:#CCCCCC;
                    text-align:center;
                    position:relative;
                    }
                    button:hover{
                    border-color:#7a7a7a;
                    }
                    button:active{
                    background-color:#999999;
                }
            </STYLE>

</head>
<body>
<table id="tableWithUsers" >
    <tr>
        <td>Дата</td>
        <td>01 СР</td>
        <td>02 ЧТ</td>
        <td>03 ПТ</td>
        <td>04 СБ</td>
        <td>05 ВС</td>
        <td>06 ПН</td>
        <td>07 ВТ</td>
        <td>08 СР</td>
        <td>09 ЧТ</td>
        <td>10 ПТ</td>
        <td>11 СБ</td>
        <td>12 ВС</td>
        <td>13 ПН</td>
        <td>14 ВТ</td>
        <td>15 СР</td>
        <td>16 ЧТ</td>
        <td>17 ПТ</td>
        <td>18 СБ</td>
        <td>19 ВС</td>
        <td>20 ПН</td>
        <td>21 ВТ</td>
        <td>22 СР</td>
        <td>23 ЧТ</td>
        <td>24 ПТ</td>
        <td>25 СБ</td>
        <td>26 ВС</td>
        <td>27 ПН</td>
        <td>28 ВТ</td>
        <td>29 СР</td>
        <td>30 ЧТ</td>
    </tr>
    <tr>
        <th>kkk</th>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1" selected>П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2" selected>В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
    </tr>
    <tr>
        <td>Дата</td>
        <td>01 СР</td>
        <td>02 ЧТ</td>
        <td>03 ПТ</td>
        <td>04 СБ</td>
        <td>05 ВС</td>
        <td>06 ПН</td>
        <td>07 ВТ</td>
        <td>08 СР</td>
        <td>09 ЧТ</td>
        <td>10 ПТ</td>
        <td>11 СБ</td>
        <td>12 ВС</td>
        <td>13 ПН</td>
        <td>14 ВТ</td>
        <td>15 СР</td>
        <td>16 ЧТ</td>
        <td>17 ПТ</td>
        <td>18 СБ</td>
        <td>19 ВС</td>
        <td>20 ПН</td>
        <td>21 ВТ</td>
        <td>22 СР</td>
        <td>23 ЧТ</td>
        <td>24 ПТ</td>
        <td>25 СБ</td>
        <td>26 ВС</td>
        <td>27 ПН</td>
        <td>28 ВТ</td>
        <td>29 СР</td>
        <td>30 ЧТ</td>
    </tr>
    <tr>
        <th>Elena</th>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1" selected>П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2" selected>В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2" selected>В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2" selected>В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
    </tr>
    <tr>
        <td>Дата</td>
        <td>01 СР</td>
        <td>02 ЧТ</td>
        <td>03 ПТ</td>
        <td>04 СБ</td>
        <td>05 ВС</td>
        <td>06 ПН</td>
        <td>07 ВТ</td>
        <td>08 СР</td>
        <td>09 ЧТ</td>
        <td>10 ПТ</td>
        <td>11 СБ</td>
        <td>12 ВС</td>
        <td>13 ПН</td>
        <td>14 ВТ</td>
        <td>15 СР</td>
        <td>16 ЧТ</td>
        <td>17 ПТ</td>
        <td>18 СБ</td>
        <td>19 ВС</td>
        <td>20 ПН</td>
        <td>21 ВТ</td>
        <td>22 СР</td>
        <td>23 ЧТ</td>
        <td>24 ПТ</td>
        <td>25 СБ</td>
        <td>26 ВС</td>
        <td>27 ПН</td>
        <td>28 ВТ</td>
        <td>29 СР</td>
        <td>30 ЧТ</td>
    </tr>
    <tr>
        <th>Vasya</th>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1" selected>П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2" selected>В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
    </tr>
    <tr>
        <td>Дата</td>
        <td>01 СР</td>
        <td>02 ЧТ</td>
        <td>03 ПТ</td>
        <td>04 СБ</td>
        <td>05 ВС</td>
        <td>06 ПН</td>
        <td>07 ВТ</td>
        <td>08 СР</td>
        <td>09 ЧТ</td>
        <td>10 ПТ</td>
        <td>11 СБ</td>
        <td>12 ВС</td>
        <td>13 ПН</td>
        <td>14 ВТ</td>
        <td>15 СР</td>
        <td>16 ЧТ</td>
        <td>17 ПТ</td>
        <td>18 СБ</td>
        <td>19 ВС</td>
        <td>20 ПН</td>
        <td>21 ВТ</td>
        <td>22 СР</td>
        <td>23 ЧТ</td>
        <td>24 ПТ</td>
        <td>25 СБ</td>
        <td>26 ВС</td>
        <td>27 ПН</td>
        <td>28 ВТ</td>
        <td>29 СР</td>
        <td>30 ЧТ</td>
    </tr>
    <tr>
        <th>kkkkkkkkkk</th>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2">В</option>
            <option value="value3" selected>У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2">В</option>
            <option value="value3" selected>У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2">В</option>
            <option value="value3" selected>У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2">В</option>
            <option value="value3" selected>У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1" selected>Н</option>
            <option value="value2">В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
        <td><select style="width: 33px;">
            <option value="value1">Н</option>
            <option value="value2" selected>В</option>
            <option value="value3">У</option>
            <option value="value1">П</option>
        </select>
        </td>
    </tr>
</table>
<button onclick="func()">button</button>

</body>
</html>
